SCHEMA_REGISTRY_URL=http://35.227.104.191:8081
KAFKA_TOPIC=order
KAFKA_BOOTSTRAP_SERVER=35.227.104.191:9092
SQL_INSTANCE=
USERNAME=
PASSWORD=
SQL_TABLE_NAME=public.order
id=id
customer=customer_id
orderTotal=order_total
status=status
shippingAddress=address_id
billingAddress=address_id
isGift=is_gift